/* own stylesheet */

body {
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
margin: 0;
font-family: inherit;
font-weight: bold;
color: inherit;
text-rendering: optimizelegibility;
}

h1 {
font-size: 30px;
line-height: 36px;
}

h1 small {
    font-size: 13px;
    color: #ccc;
}

.faded-dash {
    border-bottom: 1px solid #eee;
}

section {
  padding-top: 25px;
}
section > .page-header,
section > .lead {
  color: #5a5a5a;
  margin: 10px 0px 15px 0px;
}
section > ul li {
  margin-bottom: 5px;
}

.label_download, .label_download_pdf {
  padding: 2px 4px;
  font-size: 11px;
  font-weight: bold;
  line-height: 13px;
  color: #ffffff;
  vertical-align: top;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #999999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.label_download_pdf {
  background-color: #f40f02;   
}