/* own stylesheet */

body {
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
margin: 0;
font-family: inherit;
font-weight: bold;
color: inherit;
text-rendering: optimizelegibility;
}

h1 {
font-size: 30px;
line-height: 36px;
}

h1 small {
    font-size: 15px;
    color: #999;
}

.faded-dash {
    border-bottom: 1px solid #eee;
}

section {
  padding-top: 20px;
}
section > .page-header,
section > .lead {
  color: #5a5a5a;
  margin: 10px 0px 15px 0px;
}
section > ul li {
  margin-bottom: 5px;
}