/* own stylesheet */

body {
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
margin: 0;
font-family: inherit;
font-weight: bold;
color: inherit;
text-rendering: optimizelegibility;
}

h1 {
font-size: 30px;
line-height: 36px;
}

.page-header {
    border-bottom: 1px solid #eee;
    margin: 10px 0px 15px 0px;
}